<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-chart.js/dist/angular-chart.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="myApp" class="container" ng-controller="myCtrl">
	<div class="input-group input-group-merge input-hero mb30">
		<span class="has-success input-group-addon "><i class="fa fa-search"></i></span>
		<input type="text" id="icon-filter" class="form-control" placeholder="Search" ng-model="searchParam">
	</div>
	<table  class="table table-hover">
		<tr>
			<th ng-click="sortData('id')">id</th>
			<th ng-click="sortData('sex')">sex</th>
			<th ng-click="sortData('education')">education</th>
			<th ng-click="sortData('vocabulary')">vocab</th>
			<th ng-click="sortData('year')">year</th>
		</tr>

		<tr dir-paginate="x in peopleData | filter: searchParam | itemsPerPage:10 | orderBy: tableSort">
			<td>{{x.id}}</td>
			<td>{{x.sex}}</td>
			<td>{{x.education}}</td>
			<td>{{x.vocabulary}}</td>
			<td>{{x.year}}</td>
		</tr>

	</table>

	<div class="text-center"> 
		<dir-pagination-controls
		max-size="7"
		direction-links="true"
		boundary-links="true" >
	</dir-pagination-controls>
</div>

<canvas id="line" class="chart chart-line" chart-data="chartdata"
chart-labels="chartlabels" chart-legend="true" chart-series="series"
chart-click="onClick" >
</canvas> 

</canvas>
<script src="js/angular.js"></script>
<script src="js/dirPagination.js"></script>
<script src="bower_components/Chart.js/Chart.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
<script>
	var app = angular.module('myApp', ['angularUtils.directives.dirPagination', 'chart.js']);
	app.controller("myCtrl", function($scope, $http){
		$http.get('https://dl.dropboxusercontent.com/s/9vysjhphpisqhuw/data.json?dl=0').success(function(data){
			$scope.peopleData = data;
			$scope.labels = Object.keys(data[0]);

			var education = [];
			var vocab = [];
			var chartlabels = [];
			$scope.chartlabels=[];
			for (var i =0; i < 50; i++){ 
				education.push(data[i]["education"]);
			}
			for (var i =0; i < 50; i++){ 
				vocab.push(data[i]["vocabulary"]);
			}

			for (var i =0; i < 10; i++){ 
				chartlabels.push(data[i]["id"]);
			}
			$scope.chartlabels =chartlabels
			$scope.chartdata = [education, vocab];
			console.log($scope.chartlabel);


			$scope.series = ["Education , Vocabulary"]
		});




		$scope.sortData = function(sortedD){
			$scope.tableSort = sortedD;
		}

		$scope.objectD = function(){
			peopleData.length;
		}
	});
</script>
</body>
</html>